@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Charcoal Companion is a web application to help you plan your next grilling session. Use the grill planning section to put together your next meal, take a closer look at each step, or even submit your own entries. With the Charcoal Companion, each and every new addition to your grilling repertoire can be added to our system, and then used to make countless new creations, or help allow people to see new ideas for themselves!</p>
<p>Basic CRUD is available on all three main object types: Steps, Plans, and Recipes. You can add more Steps by providing a Name and Step Type, alongside the option to add a Description, Image Link, and an input for information that would be useful at a glance. Plans are comprised of one of each Step Type, and are connected through navigation properties. Finally, Recipes are more customizable, with fields for a Name, Directions, Ingredients, a simple block of steps, or even optionally linking an existing plan. While creation, alteration, and deletion of objects is only allowed based on user authentication, you are free to look and see what entries have already been made regardless of being signed in or not.</p>
