@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <p class="col-6">If you have any questions, comments, or features that you want me to look into implementing, send me an email!</p>

    <address class="col-6 text-center">
        <strong>Support:</strong>   <a href="mailto:abramepithey@gmail.com">abramepithey@gmail.com</a>
    </address>
</div>