@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <p class="col-6 text-center">If you have any questions, comments, or features that you want me to look into implementing, send me an email!</p>
    <div class="col-6">
        <div class="row">
            <h6 class="col-sm-4 text-sm-right text-center">Support:</h6>
            <div class="col-sm-8 ml-sm-0 text-center">
                <address class="mb-0">
                    <a href="mailto:abramepithey@gmail.com">abramepithey@gmail.com</a>
                </address>
                <a href="tel:317-219-9264">(317) 219-9264</a>
            </div>
        </div>
    </div>
</div>