@{
    ViewBag.Title = "Charcoal Companion";
}

<div class="jumbotron text-center">
    <h1>Charcoal Companion</h1>
    <p class="lead">Charcoal Companion is an application to help you keep track of your grilling and help make the tastiest food ever!</p>
    <p>
        @Html.ActionLink("Create a Plan!", "Create", "Plan", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h2>Steps</h2>
        <p>
            Create new steps that can be used to make more plans!  With more steps, your ability to create new creations on the grill is so much easier.
        </p>
        @Html.ActionLink("Create a Step \u00BB", "Create", "Step", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-4 text-center">
        <h2>Recipes</h2>
        <p>Record you favorite meal here, and share it with other people!  Connect a plan you like and store it all together in our system.</p>
        @Html.ActionLink("Create a Recipe \u00BB", "Create", "Recipe", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-4 text-center">
        <h2>More Projects</h2>
        <p>If you like what you see here, take a look at my other projects!  I have a lot of new things up frequently, so check back often.</p>
        <p><a class="btn btn-primary" href="https://abramepithey.github.io/">See More Projects &raquo;</a></p>
    </div>
</div>